<% content_for(:page_title, @instrument.name) %>

<%= render Global::HeroComponent.new(title: @instrument.name) %>

<section class="section">
  <div class="wrapper wrapper--text">
    <div class="text-container"><%= markdown(@instrument.description) %></div>
    <div class="sessions">
    <% @sessions.group_by(&:city).each do |city, sessions| %>
      <h3 class="h3"><%= city.name %>
      <% sessions.group_by(&:day).each do |day, s| %>
        <h4 class="h4"><%= day %></h4>
        <p>Entre <%= s %> et </p>
      <% end %>
    <% end %>
  </div>
</section>
