<% content_for(:page_title, @event.name) %>

<%= render Global::HeroComponent.new(title: @event.name) do |component| %>
  <% component.extra do %>
    <p class="hero__extra">
      <% if @event.end_date.present? %>
        <%= "Du #{@event.start_date.strftime("%d %B %Y")} au #{@event.end_date.strftime("%d %B %Y")}" %>
      <% else %>
        <%= "Le #{@event.start_date.strftime("%d %B %Y")}" %>
      <% end %>
    </p>
  <% end %>
<% end %>

<section class="section">
  <div class="wrapper wrapper--text">
    <%= render @event %>
  </div>
</section>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
