<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:page_title) || "Groupement Culturel Breton des Pays de Vilaine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/svg+xml" href="favicon.svg"/>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="<%= content_for(:page_class) || "" %>">
    <%= render(Global::HeaderComponent.new(title: "GCBPV", current_user: current_user)) %>
    <% if notice.present? %>
      <p class="full callout" data-notice="warning"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="full callout" data-notice="error"><%= alert %></p>
    <% end %>
    <main class="main-content">
      <%= yield %>
    </main>
    <%= render(Global::FooterComponent.new) %>
  </body>
</html>
