<!DOCTYPE html>
<html>
  <head>
    <title>EmtRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "main" %>
  </head>

  <body>
    <%= render(Global::HeaderComponent.new(title: "GCBPV", current_user: current_user)) %>
    <p class="banner notice"><%= notice %></p> 
    <p class="banner alert"><%= alert %></p> 
    <%= yield %>
    <%= render(Global::FooterComponent.new) %>
  </body>
</html>
